/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
  background-image: url('../img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top center;
  /* overflow: hidden; */
}

.navbar {
  width: 100%;
  background-color: rgba(56, 189, 248, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-right: 10vh;
}

.nav-links {
  display: flex;
  gap: 3.5rem;
  padding-right: 15vh;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #01348c;
}
/* ....... */

.logo {
  max-width: 100px; /* ضبط الحجم الأقصى للصورة */
  height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
  padding-left: 3vh;
}

.offers-container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
}

.offers-container h1 {
  font-size: 36px;
  color: #090063;
  margin-bottom: 2rem;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;
}

.offer-card {
  background: white;
  border-radius: 12px;
  padding: 0.8rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.offer-card h2 {
  font-size: 24px;
  color: #01348c;
  margin-bottom: 1rem;
}

.offer-card p {
  font-size: 16px;
  color: #555;
  margin: 0.5rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #01348c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #2575fc;
}

footer {
  margin-top: -3rem;
  padding-top: 0rem;
  text-align: center;
  color: white;
}
.footer .highlight {
  color: #01348c;
  font-weight: bold;
}
